<div class="container  bg-light p-5 rounded-3">
    <h4>Shopping Cart</h4>
    <div class="row">
        <div class="col-md-8">
            <div class="row border mb-3 p-2 cart-item bg-white" *ngFor="let data of cartService.getCartItems()">

                <div class="col-md-2">
                    <img [src]="data.pFileUrl" alt="Product Image" class="img-fluid">
                </div>

                <div class="col-md-8">
                    <p class="pName p-0">{{data.pName}}</p>

                    <p class="text-success m-0 p-0">
                        <span class="bg-light p-1 pfs">In Stock</span>
                    </p>

                    <div class="d-flex align-items-center">
                        <i class="bi bi-truck running-truck me-2"></i>
                        <span class="text-success pfs mx-1">FREE Shipping</span>
                    </div>

                    <p class="m-0 p-0 pfs">
                        <span class="SAndC">Size</span> : {{data.pSize}}
                    </p>
                    <p class="m-0 p-0 pfs">
                        <span class="SAndC">Brand</span> : {{data.pBrand}}
                    </p>
                    <p class="m-0 p-0 pfs">
                        <span class="SAndC">Color</span>: {{data.pColor}}
                    </p>

                    <div class="input-group mb-3 mt-1 d-flex align-items-center" style="max-width: 300px;">
                        <select class="form-select text-center me-2" [(ngModel)]="data.quantity"
                            (change)="cartService.updateQuantity(data.pId, data.pSize, data.quantity)"
                            style="width: 60px;">
                            <option *ngFor="let qty of quantityOptions" [value]="qty">{{ qty }}</option>
                        </select>

                        <a href="javascript:void(0);" class="text-danger mx-5 text-decoration-none"
                            (click)="cartService.removeFromCart(data.pId, data.pSize)">
                            Remove
                        </a>
                    </div>



                </div>

                <div class="col-md-2 text-center mt-3">
                    <span class="badge discount-badge">{{ data.pCalculatedDiscount}} off</span>
                    <p class="price  p-0 m-0">Price {{data.pPrice}}</p>
                    <p class="pmrp">MRP ₹{{data.pMrp}}</p>
                </div>

            </div>
        </div>



<!-- =========  COL_MD-4  ========= -->

        <div class="col-md-4">

            <div class="border p-3">
                <p class="h5">Subtotal ({{cartService.getCartLength()}} items):
                    <span class="text-danger">₹{{cartService.getCartTotalPrice()}}</span>
                </p>
                <button class="btn btn-warning w-100"  
                 (click)="amountPaying(cartService.getCartTotalPrice())">
                 Proceed to Buy
                </button>
            </div>


            
            <div class="price-box">
               <div>
                <h6>PRICE DETAILS ({{cartService.getCartLength()}} items)</h6>
               </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <span class="pdKeys">Total MRP (Inc. of Taxes)</span>
                    <span class="pdKeys">₹{{cartService.getTotalMrpPrice()}}</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span class="pdKeys">Shoppers Discount</span>
                    <span class="text-success pdKeys">- ₹{{cartService.getDiscountPrice()}}</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span class="pdKeys">Shipping Charges</span>
                    <span class="text-success pdKeys">Free</span>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <span><strong>Cart total</strong></span>
                    <span class="text-success pdKeys">₹{{cartService.getCartTotalPrice()}}</span>
                </div>
            </div>

            <!-- Total Amount Section -->
            <div class="price-box mt-3">
                <div class="d-flex justify-content-between">
                    <h6><strong>Total Amount</strong></h6>
                    <h6><strong>₹{{cartService.getCartTotalPrice()}}</strong></h6>
                </div>
               
                <div class="savings"><i class="bi bi-emoji-heart-eyes text-success"></i>
                    Yay! Your total discount is ₹{{cartService.getDiscountPrice()}}
                </div>
                  
                <button class="order-btn mt-3" (click)="amountPaying(cartService.getCartTotalPrice())">Procced to Buy</button>
            </div>


        </div>
    </div>
</div>