
<div class="col-md-12">
    <div class="card card-container">
      <h3 
      style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" 
      class="text-center mb-4">
      <i class="bi bi-unlock"></i>
      Forgot Password 
    </h3>

      <form 
      *ngIf="!isLoggedIn" 
      name="form" 
      #f="ngForm" 
      (ngSubmit)="f.form.valid && forgotPassworduserValidate()" 
      novalidate>


        <div class="form-group">
          <label>mobile</label>
          <input 
          class="mt-1"
          type="text" 
          class="form-control" 
          name="username" 
          [(ngModel)]="form.username" 
          required #username="ngModel"
          minlength="10" 
          maxlength="10" 
          [class.dirty]="username.dirty" 
          [class.touched]="username.touched"
          [ngClass]="{ 'is-invalid': username.errors && (username.touched || username.dirty ) }" />
  
          <div 
          *ngIf="username.errors && (username.touched || username.dirty )" 
          class="invalid-feedback">

            <div 
            *ngIf="username.errors['required'] ">
              Username is required
            </div>

            <div 
            *ngIf="username.errors['minlength']">
              Username must be at least 10 characters
            </div>

            <div 
            *ngIf="username.errors['maxlength']">
              Username must be at most 10 characters
            </div>
          </div>
  
        </div>
  
  
        <label for="inputPassword5" class="form-label">new password</label>
  
        <div class="input-group">
            <input 
            type="password" 
            id="inputPassword5" 
            class="form-control" 
            aria-describedby="Mobile OTP" 
            name="password"
            required="required"
            [(ngModel)]="form.password"
            #password="ngModel"
            pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
            [class.dirty]="password.dirty" 
            [class.touched]="password.touched"
            [ngClass]="{ 'is-invalid': password.errors && (password.touched || password.dirty ) }"
              >
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                <div *ngIf="password.errors?.['required']">
                  Password is required.
                </div>
                <div *ngIf="password.errors?.['pattern']">
                  Password must be at least 8 characters long, include an uppercase letter, a lowercase letter, a number, and a special character.
                </div>
              </div>
            </div>
  
          <label for="inputPassword5" class="form-label">conform password</label>
          <div class="input-group">
          <input 
              type="password" 
              id="inputPassword5" 
              class="form-control" 
              aria-describedby="Mobile OTP" 
              name="conformPassword"
              required="required"
              [(ngModel)]="form.conformPassword"
              #conformpassword="ngModel"
              pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
              [class.dirty]="conformpassword.dirty" 
              [class.touched]="conformpassword.touched"
              [ngClass]="{ 'is-invalid': conformpassword.errors && (conformpassword.touched || conformpassword.dirty ) }">
              
  
              <div *ngIf="conformpassword.invalid && (conformpassword.dirty || conformpassword.touched)" class="invalid-feedback">
                <div *ngIf="conformpassword.errors?.['required']">
                  Password is required.
                </div>
                <div *ngIf="conformpassword.errors?.['pattern']">
                  Password must be at least 8 characters long, include an uppercase letter, 
                  a lowercase letter, a number, and a special character.
                </div>
              </div>
  
            </div>
  
        <div class="d-grid gap-2 col-12 mx-auto mt-4">
            <button mat-raised-button color="primary" 
            [disabled]="f.invalid">
            Update Password
          </button>

        </div>

      </form>
    </div>
  </div>
  
  

   <!-- The Modal  To Forgot Password  -->
   <div id="myModal" class="modal">
       <div class="modal-content">
        
       <div class="text-center p-4">
        <img src="../../../assets/images/padlock (1).png" height="50" width="50" alt="">
       </div>
     
      <form 
      class="px-3"
      #updatePass = "ngForm" 
      (ngSubmit)="updatePass.form.valid && upadtePasswordFinal()" 
       novalidate>
        <div class="text-center">
          <b class="text-center">Enter One-time Password (OTP)</b>
        </div>
      <p class="text-center mt-3">Enter the OTP sent to ******{{ (form.username | slice:6:10 )}}</p>
  
      <label 
        for="inputPassword5" 
        class="form-label">
        Enter OTP
      </label>
      
        <div>

          <div class="form-group">
              <input 
                  type="text" 
                  id="inputPassword5"  
                  class="form-control" 
                  aria-describedby="Mobile OTP" 
                  name="otp"
                  [(ngModel)]="forgotPasswordForm.otp"
                  required 
                  #otp="ngModel"
                  pattern="^\d{6}$"
                  [class.dirty]="otp.dirty" 
                  [class.touched]="otp.touched"
                  [ngClass]="{ 'is-invalid': otp.errors && (otp.touched || otp.dirty ) }"
                  >

                  <div 
                  *ngIf="otp.errors && (otp.touched || otp.dirty )" 
                  class="invalid-feedback">
      
                  <div *ngIf="otp.errors['required']">
                    Mobile number is required.
                  </div>
                  <div *ngIf="otp.errors['pattern']">
                    Mobile number must be a 6-digit number.
                  </div>
                </div>
        </div>

      </div>

       <!-- Terms and Conditions -->
       <p style="font-size: 13px;" class="mx-4 mt-4">
        OTPs are used to verify your identity for secure access to our services and transactions.
        OTPs are valid for a single transaction or login session and expire after a short period.
      </p>

  
      <div class="form-group d-grid gap-2 col-12 mx-auto mt-4">
        <button mat-stroked-button color="primary" [disabled]="updatePass.invalid">Change Password </button>
      </div>

      <!-- Terms and Conditions -->
       <p style="font-size: 9px;" class="mx-4 mt-4">
        OTPs can only be used for the specific transaction or session for which they were generated.
        We are not liable for any loss or damage arising from your failure to comply with these terms and conditions.
      </p>
    </form>
  </div>

    <!-- OTP VERIFY FORM ENDING -->


       </div>



       <!-- AES ALGORITHM -->
       <button  mat-raised-button   (click)="sendData()" >Send Data</button>
  
