<div class="container custom-container">
    <mat-horizontal-stepper #stepper >

        <mat-step label="Step 1">
            <!-- STARTING 1 STEPPER DATA -->
            <div class="container mt-3 custom-container">
                <div class="row">
                  <!-- Left Section: Address Selection -->
                  <div class="col-md-7">
                    <h5>Select Delivery Address</h5>
                    <div *ngFor="let add of addresses; let i = index" class="mb-3">
                      <div class="card p-3 addressCard" [ngClass]="{ 'selected-card': selectedAddressIndex === i }">
                        <div class="d-flex align-items-start">
                          <div class="me-3 d-flex align-items-center justify-content-center rounded-circle locationIcon">
                            <mat-icon color="primary">place</mat-icon>
                          </div>
              
                          <div class="flex-grow-1">
                            <div class="d-flex justify-content-between align-items-center flex-wrap">
                              <h5 class="mb-0">{{ add.customerName }}</h5>
                              <div class="btn-group">
                                <button mat-stroked-button color="primary" (click)="getAddressById(add.id)" class="mx-2">
                                  <mat-icon>edit</mat-icon> Edit
                                </button>
              
                                <button class="mx-2" mat-stroked-button *ngIf="!add.defaultAddress" (click)="setDefaultAddress(add.id)">
                                  Set Default 
                                </button>
              
                                <input
                                  type="radio"
                                  name="address"
                                  [value]="i"
                                  [(ngModel)]="selectedAddressIndex"
                                  (change)="onAddressSelect(add)"
                                />
                              </div>
                            </div>
              
                            <p class="text-muted small mb-1">{{ add.mobileNumber }}</p>
                            <p class="small mb-1">
                              {{ add.area }}, {{ add.addressLine1 }}, {{ add.addressLine2 }}, {{ add.postalCode }}
                            </p>
              
                            <span *ngIf="add.defaultAddress" class="badge bg-primary small">
                              Default Address
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              
                  <!-- Right Section: Price Details -->
                  <div class="col-md-5">
                    <div class="card p-3">
                      <h5>Price Details ({{ cartService.getCartLength() }} Items)</h5>
                      <hr />
                      <p>Total Product Price: <span class="float-end">₹{{ cartService.getTotalMrpPrice() }}</span></p>
                      <p class="text-success">Total Discounts: <span class="float-end">- ₹{{ cartService.getDiscountPrice() }}</span></p>
                      <hr />
                      <h5>Order Total: <span class="float-end">₹{{ cartService.getCartTotalPrice() }}</span></h5>
                      
                      <button mat-raised-button  class="order-btn mt-3" (click)="nextStep(stepper)">
                        Continue to Payment
                      </button>
                      
            
                      <div class="savings mt-3"><i class="bi bi-emoji-heart-eyes text-success"></i>
                        Yay! Your total discount is ₹{{cartService.getDiscountPrice()}}
                    </div>
            
                    </div>
                  </div>
                </div>
            </div>
            <!-- ENDING 1 STEPPER ENDING -->
            <!-- <button mat-button (click)="nextStep(stepper)">Next</button> -->
        </mat-step>
    
        <mat-step label="Step 2">
            <!-- STARTING 2 STEPPER DATA -->
            <div class="container mt-4">
                <div class="row">
                  <!-- Payment Selection -->
                  <div class="col-md-7">
                    <h5>Select Payment Method</h5>
              
                    <!-- Cash on Delivery (COD) -->
                    <div class="payment-method d-flex justify-content-between align-items-center p-3" 
                        [class.active]="selectedPayment === 'COD'" 
                        (click)="selectPayment('COD')">
                      <label class="w-100 d-flex ">
                        <input type="radio" name="payment" value="COD" [(ngModel)]="selectedPayment" class="form-check-input me-2">
                        <span class="ms-2">Cash on Delivery</span>
                      </label>
                    </div>

              
                    <!-- Pay Online -->
                    <div class="payment-method d-flex justify-content-between align-items-center p-3 mt-3" 
                         [class.active]="selectedPayment === 'Online'" 
                         (click)="selectPayment('Online')">
                      <label class="w-100 d-flex align-items-center">
                        <input type="radio" name="payment" value="Online" [(ngModel)]="selectedPayment" class="form-check-input me-2">
                        <span class=" ms-2 payonline"> Pay Online</span>
                      </label>
                    </div>

                    <!-- Secure Payment Info -->
                    <div class="mt-4 p-3 border rounded bg-light">
                      <h6 class="text-primary">
                          <i class="bi bi-lock-fill text-success"></i> Secure Payment
                      </h6>
                      <p class="text-muted mb-0">
                          Your payment is 100% safe with our encrypted payment gateway, ensuring complete security for online transactions.
                      </p>
                  </div>

                  </div>
              
                  <!-- Order Summary -->
                  <div class="col-md-5 order-summary">
                    <h5>Price Details ({{ cartService.getCartLength() }}Items)</h5>
                    <p><strong>Total Product Price:</strong> ₹{{cartService.getTotalMrpPrice()}}</p>
                    <p class="text-success"><strong>Total Discounts:</strong> -₹{{cartService.getDiscountPrice()}}</p>
                    <hr>
                    <h5>Order Total: ₹{{cartService.getCartTotalPrice()}}</h5>

                     <button class="btn btn-warning w-100"  
                    (click)="amountPaying(cartService.getCartTotalPrice())">
                    Proceed to Buy
                    </button>

                    <div class="alert alert-success mt-2" role="alert">
                        🎉 Yay! Your total discount is ₹{{cartService.getDiscountPrice()}}
                    </div>
                    <p> <span class="font-weight-bolder">Payment Method:</span> {{ selectedPayment }}</p>
                    

                  </div>
                </div>
            </div>
            <!-- STARTING 2 STEPPER DATA -->
        <!-- <button mat-button (click)="prevStep(stepper)">Back</button>
        <button mat-button (click)="nextStep(stepper)">Next</button> -->
        </mat-step>
    </mat-horizontal-stepper>
</div>




<!-- ================================================================================================================== -->
<!-- Update Address Form Starting -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable custom-modal-width ">
  
      <div class="modal-content">
  
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Address</h5>
          <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
        </div>
  
        <div class="container-fluid">
          <form name="form" (ngSubmit)="f.form.valid && saveUpdateAddress()" #f="ngForm">
      
              <div class="row g-3 mt-2">
                  <div class="col-12">
                      <label for="inputState" class="form-label">State</label>
                      <select id="inputState" class="form-select bg-light text-dark">
                          <option selected>INDIA</option>
                      </select>
                  </div>
              </div>
      
              <div class="row g-3 mt-2">
                  <!-- NAME -->
                  <div class="col-12 col-md-6">
                      <label for="Name" class="form-label">Full Name (First and Last Name)</label>
                      <input type="text" class="form-control" name="customerName" required="required"
                          [(ngModel)]="updateAddressForm.customerName" #customerName="ngModel" pattern="^[a-zA-Z ]{3,}$"
                          placeholder="Enter Full Name"
                          [ngClass]="{ 'is-invalid': customerName.errors && (customerName.touched || customerName.dirty ) }">
      
                      <div *ngIf="customerName.errors && (customerName.touched || customerName.dirty )"
                          class="invalid-feedback">
                          <div *ngIf="customerName.errors['required']">Full Name is required.</div>
                          <div *ngIf="customerName.errors['pattern']">Full Name must be at least 3 characters.</div>
                      </div>
                  </div>
      
                  <!-- MOBILE -->
                  <div class="col-12 col-md-6">
                      <label for="Name" class="form-label">Mobile Number</label>
                      <input type="tel" class="form-control" name="mobileNumber" required="required"
                          [(ngModel)]="updateAddressForm.mobileNumber" #mobileNumber="ngModel" pattern="^\d{10}$"
                          placeholder="Enter Mobile Number"
                          [ngClass]="{ 'is-invalid': mobileNumber.errors && (mobileNumber.touched || mobileNumber.dirty ) }">
      
                      <div *ngIf="mobileNumber.errors && (mobileNumber.touched || mobileNumber.dirty )" class="invalid-feedback">
                          <div *ngIf="mobileNumber.errors['required']">Mobile Number is required.</div>
                          <div *ngIf="mobileNumber.errors['pattern']">Mobile Number must be exactly 10 digits.</div>
                      </div>
                  </div>
              </div>
      
              <div class="row g-3 mt-2">
                  <!-- FLAT HOUSE NO BUILDING -->
                  <div class="col-12 col-md-6">
                      <label for="Name" class="form-label">Flat, Area, House No</label>
                      <input type="text" class="form-control" name="area" required="required"
                          [(ngModel)]="updateAddressForm.area" #area="ngModel" placeholder="Enter Flat, Area"
                          [ngClass]="{ 'is-invalid': area.errors && (area.touched || area.dirty ) }">
      
                      <div *ngIf="area.errors && (area.touched || area.dirty )" class="invalid-feedback">
                          <div *ngIf="area.errors['required']">Flat, House No, Apartment is required.</div>
                      </div>
                  </div>
      
                  <!-- POSTALCODE -->
                  <div class="col-12 col-md-6">
                      <label for="Name" class="form-label">Postal Code</label>
                      <input type="tel" class="form-control" name="postalCode" required="required"
                          [(ngModel)]="updateAddressForm.postalCode" #postalCode="ngModel" pattern="^\d{6}$"
                          placeholder="Enter Postal Code"
                          [ngClass]="{ 'is-invalid': postalCode.errors && (postalCode.touched || postalCode.dirty ) }">
      
                      <div *ngIf="postalCode.errors && (postalCode.touched || postalCode.dirty )" class="invalid-feedback">
                          <div *ngIf="postalCode.errors['required']">Postal Code is required.</div>
                          <div *ngIf="postalCode.errors['pattern']">Postal Code must be exactly 6 digits.</div>
                      </div>
                  </div>
              </div>
      
              <!-- Address Line 1 -->
              <div class="col-12 mt-2">
                  <label for="Name" class="form-label">Address Line 1</label>
                  <input type="text" class="form-control" name="addressLine1" required="required"
                      [(ngModel)]="updateAddressForm.addressLine1" #addressLine1="ngModel" placeholder="Address Line 1"
                      [ngClass]="{ 'is-invalid': addressLine1.errors && (addressLine1.touched || addressLine1.dirty ) }">
      
                  <div *ngIf="addressLine1.errors && (addressLine1.touched || addressLine1.dirty )" class="invalid-feedback">
                      <div *ngIf="addressLine1.errors['required']">Address Line 1 is required.</div>
                  </div>
              </div>
      
              <!-- Address Line 2 -->
              <div class="col-12 mt-2">
                  <label for="Name" class="form-label">Address Line 2</label>
                  <input type="text" class="form-control" name="addressLine2" required="required"
                      [(ngModel)]="updateAddressForm.addressLine2" #addressLine2="ngModel" placeholder="Address Line 2"
                      [ngClass]="{ 'is-invalid': addressLine2.errors && (addressLine2.touched || addressLine2.dirty ) }">
      
                  <div *ngIf="addressLine2.errors && (addressLine2.touched || addressLine2.dirty )" class="invalid-feedback">
                      <div *ngIf="addressLine2.errors['required']">Address Line 2 is required.</div>
                  </div>
              </div>
      
              <div class="col-12 mb-3 mt-2">
                  <div class="form-check">
                      <input class="form-check-input" name="defaultAddress" [(ngModel)]="updateAddressForm.defaultAddress"
                          type="checkbox" id="gridCheck1">
                      <label class="form-check-label" for="gridCheck1">
                          Make it default address
                      </label>
                  </div>
              </div>
      
              <div class="mt-3 d-flex justify-content-center">
                  <button mat-raised-button color="primary" class="p-3" [disabled]="f.invalid">
                      Save Address
                  </button>
              </div>
      
          </form>
      </div>
      
        <!-- Update Form Ending -->
  
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        </div>
  
      </div>
    </div>
  </div>
<!-- Update Address Form Ending -->





  
  