<div class="container mt-4">
  <div class="row">

    <div class="col-md-3" style="background-color: transparent; overflow-y: auto; max-height: 80vh;margin-bottom: 70px; 
                          position: sticky; top: 100px;">


      <div *ngIf="selectedPrice || selectedBrands.length > 0 || selectedGenders.length > 0">
        <div class="d-flex justify-content-between align-items-center mt-3">
          <p class="mb-0 fs18">FILTER</p>
          <button mat-raised-button color="primary" style="height: 30px;" (click)="clearAll()">Clear All</button>
        </div>
        <hr style="background: #b3b3b3 ;" />
      </div>
      
      

        <!-- Brand Starting -->
        <div class="mt-3" >
          <mat-accordion>
            <mat-expansion-panel  (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
              <mat-expansion-panel-header>
                <mat-panel-title> Brand </mat-panel-title>
              </mat-expansion-panel-header>
                <div *ngFor="let brand of brandList">
                  <mat-checkbox [(ngModel)]="brand.checked" color="primary" (change)="toggleBrandSelection(brand)">
                    {{ brand.brandName }}
                  </mat-checkbox>
                </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
         <!-- Brand Ending -->


         <!-- Gender Starting -->
          
        <div class="mt-3">
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
              <mat-expansion-panel-header>
                <mat-panel-title> Gender Selection </mat-panel-title>
              </mat-expansion-panel-header>
              <section>
                <mat-button-toggle-group
                  
                  name="gender"
                  aria-label="Gender"
                  [(ngModel)]="selectedGenders"
                  multiple
                >
                  <mat-button-toggle (click)="genderSelected()"  value="male">Male</mat-button-toggle>
                  <mat-button-toggle (click)="genderSelected()"  value="female">Female</mat-button-toggle>
                </mat-button-toggle-group>
  
              </section>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
          <!-- Gender Ending -->

        <!-- Price Starting  -->
        <div class="mt-3 mb-4">
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
              <mat-expansion-panel-header>
                <mat-panel-title> Price (₹) </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-chip-listbox
              class="mat-mdc-chip-set-stacked"
              aria-label="Price selection"
              [(ngModel)]="selectedPrice"
              (ngModelChange)="priceSelected()">
            
              <mat-chip-option
                *ngFor="let price of priceRange"
                [value]="price.value">
                {{ price.label }}
              </mat-chip-option>
            
            </mat-chip-listbox>
            
            </mat-expansion-panel>
          </mat-accordion>
        </div>
         <!-- Price Ending -->
    </div>


    <div class="col-md-9">


      <div *ngIf="productData?.length > 0; else noData">

        <p class="text-muted brandName custom-spacing cN">{{categoryName}}</p>


        <div class="row">
          <div *ngFor="let data of productData" class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 mb-4">
            <a [routerLink]="['/pw']" [queryParams]="{ size:data.productFirstSize, pI:data.id, pN:data.productName }"
               href="#" class="card product-card h-100">
              <div *ngIf="data?.productFilesResponses?.length" class="product-image-container">
                <img [src]="data.productFilesResponses[0].fileUrl" alt="Product Image" class="product-image img-fluid">
      
                <div *ngIf="data.rating && data.reviewCount" class="rating-review">
                  {{data.rating}} <i class="bi bi-star-fill"></i> | {{data.reviewCount}}
                </div>
      
                <div class="tag">{{data.materialType}}</div>
              </div>
              <div *ngIf="data?.productFilesResponses?.length" class="card-body p-2">
                <p class="product-title">{{ data.brandField }}</p>
                <p class="productName mb-1">
                  {{ data?.productName | slice:0:30 }}{{ data?.productName?.length > 35 ? '...' : '' }}
                </p>
                <ng-container>
                  <p class="price-details mb-0">
                    <span class="actualPrice">Rs.{{ data.productPrice }}</span>
                    <span class="mrpPrice mx-1">Rs.{{ data.productMrp }}</span>
                    <span class="priceOff mx-1">({{ data.calculatedDiscount }})</span>
                  </p>
                </ng-container>
              </div>
            </a>
          </div>
      
          <mat-paginator [pageSizeOptions]="[100,200,300,400]" [pageSize]="100" [length]="totalElements"
                         (page)="nextPage($event)" showFirstLastButtons>
          </mat-paginator>
        </div>
      </div>
      
      <ng-template #noData>
        <div class="text-center">
          <h3 class="display-5">No Product Found</h3>
          <img src="../../../../assets/NoProductFound/NoProductFound.gif" 
              height="250" width="500" 
              style="object-fit: cover;" alt=""><br>
          <a routerLink="/" class="btn btn-no-product-found" role="button">Continue Shopping</a>
        </div>
      </ng-template>

      
      
    </div>

  </div>
</div>