<div class="container mt-4" *ngIf="dashboardData as dashboards">


        <h4>Dashboard</h4>



        <div class="row g-3 mt-4 mx-3">
          <!-- Pending Orders -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="custom-card">
              <div class="icon bg-warning">
                <i class="bi bi-clock-history"></i>
              </div>
              <div class="content">
                <h6>New Orders</h6>
                <p class="count">{{dashboardData.newOrders}}</p>
              </div>
            </div>
          </div>
      
          <!-- Download Labels -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="custom-card">
              <div class="icon bg-primary">
                <i class="bi bi-cart4"></i>
              </div>
              <div class="content">
                <h6>Carts</h6>
                <p class="count">{{ cartService.getCartLength() }} </p>
              </div>
            </div>
          </div>
      
          <!-- Out of Stock -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="custom-card">
              <div class="icon bg-danger">
                <i class="bi bi-truck"></i>
              </div>
              <div class="content">
                <h6>Delivered</h6>
                <p class="count">{{dashboardData.orderDelivered}} </p>
              </div>
            </div>
          </div>
      
          <!-- Low Stock -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="custom-card">
              <div class="icon bg-warning">
                <i class="bi bi-border-all"></i>
              </div>
              <div class="content">
                <h6>Tatal Orders</h6>
                <p class="count">{{dashboardData.totalOrders}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
<!-- ===================CART================= -->


<div class="container mt-4 rounded-4 mb-4">
        <app-add-to-cart style="top: 0;"></app-add-to-cart>
</div>

<!-- ===================CART ENDING================= -->




