<!-- <div class="container mt-4">
    <div *ngFor="let order of orders" class="order-container">
        <div class="order-header">
            <span class="order-id">Order ID: #{{ order.id }}</span>
        </div>

        <a *ngFor="let item of order.items" [routerLink]="['/order-details', order.id]" class="order-card">
            <img [src]="item.image" class="order-image" alt="Product">
            <div class="order-content">
                <span class="no-margin">No Margin</span>
                <p class="order-title">{{ item.title }}</p>
                <p class="delivery-info">
                    <span class="dot"></span> Delivery by {{ item.deliveryDate }}
                </p>
                <p class="order-details">
                    <strong>Quantity:</strong> {{ item.quantity }}  
                    &nbsp; | &nbsp;  
                    <strong>Price:</strong> ₹{{ item.price }}
                </p>
            </div>
            <i class="bi bi-chevron-right order-arrow"></i>
        </a>
    </div>
</div> -->

<div class="container mt-5">
    <h4 class="order-heading">Order Details</h4>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let order of orders; let i = index" [expanded]="i === 0" class="mb-3">
            <mat-expansion-panel-header class="p-5 d-flex justify-content-between align-items-center">
                <mat-panel-title class="order-info d-flex w-100 align-items-center">
                    <span class="changeDesign">
                        <span class="headerH">ORDER ID:</span>
                        {{ order.orderId }}
                    </span>
                    <span class="changeDesign">
                        <span class="headerH">QTY:</span>
                        {{order.quantity}}
                    </span>
                    <span class="changeDesign">
                        <span class="headerH">AMOUNT:</span> 
                        ₹ {{order.totalPrice}}
                    </span>
                    <span class="changeDesign">
                        <span class="headerH">Placed By - </span> 
                        {{order.orderDateTime}}
                    </span>
                    
                    <button [routerLink]="['/customer/orders-details/', order.id]" 
                            mat-raised-button color="warn" 
                            class="mx-2 py-1 moreDetails ms-auto">
                            Order Details
                    </button>
                </mat-panel-title>
            </mat-expansion-panel-header>
            


            <!-- Iterate over items inside an order -->
            <div *ngFor="let item of order.customerOrderItems
            " [routerLink]="['/order-details', order.id]" class="order-card">
                <img [src]="item.fileUrl" class="order-image" alt="Product Image">
                <div class="order-content">
                    <span class="no-margin text-success">
                        {{order.paymentStatus}}
                        <i class="bi bi-check text-success"></i>
                    </span>
                    <p class="order-title">{{ item.productName }}</p>
                    <p class="delivery-info">
                        <span class="dot"></span> Delivery by {{ '22 Mar, 2025 01:05 pm'}}
                    </p>
                    <p class="order-details">
                        <strong>Quantity : </strong> {{ item.quantity }}
                        &nbsp; | &nbsp;
                        <strong>Price : </strong> ₹{{ item.productPrice }}
                        <!-- &nbsp; | &nbsp;
                        <strong>BRAND : </strong> {{ item.productBrand }} -->
                        &nbsp; | &nbsp;
                        <strong>SIZE : </strong> {{ item.productSize }}
                        <!-- &nbsp; | &nbsp;
                        <span><strong>DELIVERY : </strong><span class="headerH">
                                <i class="bi bi-truck running-truck me-2"></i>
                            </span>
                            {{item.deliveryStatus}}
                        </span> -->
                    </p>

                    
                    <p *ngIf="item.orderTrackingId" class="tracker-id fs13 ">
                        <strong>TRACKER ID:</strong> {{ item.orderTrackingId }}
                        <i style="cursor: pointer;" class="bi bi-copy" (click)="copyTrackerId(item.orderTrackingId)"></i>
                    
                        <a href="https://www.delhivery.com/tracking" target="_blank" mat-raised-button color="primary" class="mx-3 py-1 trackButton">
                            Track Order
                        </a>
                    </p>
                    
                    
                </div>
                <!-- ==============TRACKING STEPPER STARTING================== -->
                <div class="container trackerContainer">
                    <div class="stepper">
                      <div *ngFor="let step of statuses; let i = index" class="step">
                        <div class="step-content">
                          <div class="circle" [ngClass]="{'active': i <= getStatusIndex(item.deliveryStatus), 'completed': i < getStatusIndex(item.deliveryStatus)}">
                            <i *ngIf="i <= getStatusIndex(item.deliveryStatus)" class="bi bi-check2"></i> 
                            <!-- <span *ngIf="i >= getStatusIndex()">{{ i + 1 }}</span> -->
                          </div>
                          <span class="status-text">{{ step }}</span>
                        </div>
                        <div *ngIf="i < statuses.length - 1" class="line" [ngClass]="{'completed': i < getStatusIndex(item.deliveryStatus)}"></div>
                      </div>
                    </div>
                  </div> 
                  <!-- ==============TRACKING STEPPER ENDING================== -->
                
                <i class="bi bi-chevron-right order-arrow"></i>
                </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>


<!-- ==============TRACKING STEPPER STARTING================== -->
<!-- <div class="container trackerConttainer">
  <div class="stepper">
    <div *ngFor="let step of statuses; let i = index" class="step">
      <div class="step-content">
        <div class="circle" [ngClass]="{'active': i <= getStatusIndex(), 'completed': i < getStatusIndex()}">
          <i *ngIf="i <= getStatusIndex()" class="bi bi-check2"></i> 
           <span *ngIf="i >= getStatusIndex()">{{ i + 1 }}</span> 
        </div>
        <span class="status-text">{{ step }}</span>
      </div>
      <div *ngIf="i < statuses.length - 1" class="line" [ngClass]="{'completed': i < getStatusIndex()}"></div>
    </div>
  </div>
</div>  -->
<!-- ==============TRACKING STEPPER ENDING================== -->














