<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="check-icon mx-auto mb-3">
                    <i class="bi bi-check-lg"></i>
                </div>
                <h3>Thank you for ordering!</h3>
                <p class="text-muted">Order Placed Successfully</p>
                <p class="p-2" style="background-color: #f3f3f3;border-radius: 12px;">An email with your order details has been sent.</p>

              <div class="d-flex justify-content-center gap-3">
                    <button class="btn btn-outline-dark" [routerLink]="'/customer/ordersCustomer'" >View Order</button>
                    <button class="btn btn-warning" [routerLink]="'/home'" >Continue Shopping</button>
                </div>
            </div>
        </div>
    </div>
</div>
