

<div class="container mt-5" *ngIf="orders && orders.length > 0">
    <h4 class="order-heading">Order Details</h4>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let order of orders; let i = index" [expanded]="i === 0" class="mb-3">
            <mat-expansion-panel-header class="p-5 d-flex justify-content-between align-items-center">
                <mat-panel-title class="order-info d-flex w-100 align-items-center">
                    <span class="changeDesign">
                        <span class="headerH">ORDER NO:</span>
                        {{ order.customOrderNumber }}
                    </span>
                    <!-- <span class="changeDesign">
                        <span class="headerH">ORDERS :</span>
                        {{order.totalOrders}}
                    </span> -->
                    <span class="changeDesign">
                        <span class="headerH">AMOUNT:</span> 
                        ₹ {{orders.totalPrice}}
                    </span>
                    <span class="changeDesign">
                        <span class="headerH">Placed By - </span> 
                        {{order.orderDateTime}}
                    </span>

                    <span *ngIf="order.paymentMode === 'COD'" class="changeDesign bg-light p-1 rounded ">
                        <span class="headerH fs13">PAY MODE - </span> 
                        <span class="p-1 rounded fs13 COD">{{order.paymentMode}}</span>
                    </span>

                    <span *ngIf="order.paymentMode === 'ONLINE'" class="changeDesign bg-light p-1 rounded">
                        <span class="headerH fs13">PAY MODE - </span> 
                        <span class="p-1 rounded fs13 ONLINE" >{{order.paymentMode}}</span>
                    </span>
                    
                    <button [routerLink]="['/customer/orders-details/', order.id]" 
                            mat-raised-button color="warn" 
                            class="mx-2 py-1 moreDetails ms-auto">
                            Order Details
                    </button>
                </mat-panel-title>
            </mat-expansion-panel-header>
            


            <!-- Iterate over items inside an order -->
            <div [routerLink]="['/order-details', order.id]" class="order-card">
                <img [src]="order.fileUrl" class="order-image" alt="Product Image">
                <div class="order-content">
                    <span *ngIf="order.paymentStatus === 'PAID'" class="no-margin text-success">
                        {{order.paymentStatus}}
                        <i class="bi bi-check text-success"></i>
                    </span>
                    <span *ngIf="order.paymentStatus === 'UNPAID'" class="no-margin text-warning">
                        {{order.paymentStatus}}
                        <i class="bi bi-check text-dark"></i>
                    </span>
                    <p class="order-title">{{ order.productName }}</p>
                    <p class="order-details">
                        <strong>Quantity : </strong> {{ order.quantity }}
                        &nbsp; | &nbsp;
                        <strong>Price : </strong> ₹{{ order.productPrice }}
                        <!-- &nbsp; | &nbsp;
                        <strong>BRAND : </strong> {{ item.productBrand }} -->
                        &nbsp; | &nbsp;
                        <strong>SIZE : </strong> {{ order.productSize }}
                        <!-- &nbsp; | &nbsp;
                        <span><strong>DELIVERY : </strong><span class="headerH">
                                <i class="bi bi-truck running-truck me-2"></i>
                            </span>
                            {{item.deliveryStatus}}
                        </span> -->
                    </p>

                    
                    <div *ngIf="order.orderTrackingId" class="tracker-id fs13 ">
                        <p >
                            <strong>TRACKER ID:</strong> {{ order.orderTrackingId }}
                            <i style="cursor: pointer;" class="bi bi-copy" (click)="copyTrackerId(order.orderTrackingId)"></i>
                        
                            <a href="https://www.delhivery.com/tracking" target="_blank" mat-raised-button color="primary" class="mx-3 py-1 trackButton">
                                Track Order
                            </a>
                        </p>
                        <p>
                            <strong>Expected Delivery:</strong>
                             <span class="text-success mx-2" >DELIVERED                        
                                 <i class="bi bi-check "></i>
                                 {{order.deliveryDateTime}}
                             </span>
                        </p>
                    </div>
                    
                    
                </div>
                <!-- ==============TRACKING STEPPER STARTING================== -->
                <div class="container trackerContainer">
                    <div class="stepper">
                      <div *ngFor="let step of statuses; let i = index" class="step">
                        <div class="step-content">
                          <div class="circle" [ngClass]="{'active': i <= getStatusIndex(order.deliveryStatus), 'completed': i < getStatusIndex(order.deliveryStatus)}">
                            <i *ngIf="i <= getStatusIndex(order.deliveryStatus)" class="bi bi-check2"></i> 
                            <!-- <span *ngIf="i >= getStatusIndex()">{{ i + 1 }}</span> -->
                          </div>
                          <span class="status-text">{{ step }}</span>
                        </div>
                        <div *ngIf="i < statuses.length - 1" class="line" [ngClass]="{'completed': i < getStatusIndex(order.deliveryStatus)}"></div>
                      </div>
                    </div>
                  </div> 
                  <!-- ==============TRACKING STEPPER ENDING================== -->
                
                <i class="bi bi-chevron-right order-arrow"></i>
                </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>




<div class="container mt-5" *ngIf="orders && orders.length === 0">
    No Orders Found one
</div>









