<div class="container" *ngIf="orders && orders.length > 0">
    <h4 class="order-heading">Order Delivered</h4>


    <div class="card mb-4" *ngFor="let order of orders; let i = index" style="width: 100%;">

        <!-- DELIVERY START     -->
        <div *ngIf="order.deliveryStatus === 'DELIVERED'">
            <div class="card-header d-flex align-items-center flex-wrap p-2">
                <div class="d-flex flex-wrap">
                    <span class="changeDesign me-3">
                        <span class="headerH">ORDER NO:</span>
                        <span>{{ order.customOrderNumber }}</span>
                    </span>
                    <span class="changeDesign me-3">
                        <span class="headerH">AMOUNT:</span>
                        <span>₹ {{order.totalPrice}}</span>
                    </span>
                    <span class="changeDesign me-3">
                        <span class="headerH">PLACED BY:</span>
                        <span>{{order.orderDateTime}}</span>
                    </span>
                    <span *ngIf="order.paymentMode === 'COD'" class="changeDesign bg-light p-1 rounded ">
                        <span class="headerH fs13">PAY MODE - </span>
                        <span class="p-1 rounded fs13 COD">{{order.paymentMode}}</span>
                    </span>

                    <span *ngIf="order.paymentMode === 'ONLINE'" class="changeDesign bg-light p-1 rounded">
                        <span class="headerH fs13">PAY MODE - </span>
                        <span class="p-1 rounded fs13 ONLINE">{{order.paymentMode}}</span>
                    </span>

                    <span class="changeDesign mx-4">
                        <span class="headerH fs13">STATUS - </span>
                        <span class="p-1 rounded fs13">{{order.deliveryStatus}}</span>
                    </span>

                </div>

                <button [routerLink]="['/customer/orders-details/', order.id]" mat-raised-button color="warn"
                    class="mx-2 py-1 moreDetails ms-auto">
                    Order Details
                </button>
            </div>

            <div [routerLink]="['/order-details', order.id]" class=" mb-3">
                <div class="card-body innerCard card mx-4 mt-3" style="border-radius: 15px;">
                    <div class="row">

                        <!-- Product Image -->
                        <div class="col-md-1">
                            <img [src]="order.fileUrl" class="order-image img-fluid" alt="Product Image">
                        </div>

                        <!-- Order Content -->
                        <div class="col-md-7">
                            <div class="order-content">

                                <!-- Product Name -->
                                <p class="mb-1 fs14">{{ order.productName }}</p>

                                <!-- Product Details -->
                                <p class="fs12 text-muted mb-2">
                                    <strong>Quantity:</strong> {{ order.quantity }} |
                                    <strong>Price:</strong> ₹{{ order.productPrice }} |
                                    <strong>Size:</strong> {{ order.productSize }}
                                </p>

                                <!-- Tracking Info -->
                                <div *ngIf="order.orderTrackingId" class="fs13 mb-2">
                                    <p class="mb-1">
                                        <strong>TRACKER ID:</strong> {{ order.orderTrackingId }}
                                        <i style="cursor: pointer;" class="bi bi-copy"
                                            (click)="copyTrackerId(order.orderTrackingId)"></i>

                                        <a href="https://www.delhivery.com/tracking" target="_blank" mat-raised-button
                                            color="primary" class="mx-3 py-1 trackButton">
                                            Track Order
                                        </a>
                                    </p>
                                    <p class="mb-1 fs13">
                                        <strong>Expected Delivery:</strong>
                                        <span class="text-success mx-2">
                                            DELIVERED <i class="bi bi-check"></i> {{ order.deliveryDateTime }}
                                        </span>
                                    </p>
                                </div>

                                <!-- Return/Exchange -->
                                <div *ngIf="order.returnMessage !== '0'" class="mt-2">
                                    <span class="fs12">
                                        {{order.returnMessage}}
                                    </span>

                                    <div *ngIf="order.paymentMode === 'ONLINE'">
                                        <button (click)="returnExchangeModelOpen(order,'R')" mat-raised-button color="warn"
                                        class="mx-2 py-1 moreDetails ms-auto">
                                        Return 
                                    </button>
                                    <button (click)="returnExchangeModelOpen(order,'E')" mat-raised-button color="warn"
                                        class="mx-2 py-1 moreDetails ms-auto">
                                         Exchange
                                    </button>
                                    </div>

                                    <div *ngIf="order.paymentMode === 'COD'">
                                        <button (click)="returnExchangeModelOpen(order,'E')" mat-raised-button color="warn"
                                            class="mx-2 py-1 moreDetails ms-auto">
                                            Exchange
                                        </button>
                                    </div>

                                    
                                </div>
                            </div>
                        </div>

                        <!-- Stepper (Tracking Status) -->
                        <div class=" trackerContainer mt-3 col-md-4">
                            <div class="stepper">
                                <div *ngFor="let step of statuses; let i = index" class="step">
                                    <div class="step-content">
                                        <div class="circle"
                                            [ngClass]="{'active': i <= getStatusIndex(order.deliveryStatus), 'completed': i < getStatusIndex(order.deliveryStatus)}">
                                            <i *ngIf="i <= getStatusIndex(order.deliveryStatus)"
                                                class="bi bi-check2"></i>
                                        </div>
                                        <span class="status-text">{{ step }}</span>
                                    </div>
                                    <div *ngIf="i < statuses.length - 1" class="line"
                                        [ngClass]="{'completed': i < getStatusIndex(order.deliveryStatus)}"></div>
                                </div>
                            </div>

                            <button (click)="downloadInvoice(order.id)" 
                                    mat-raised-button 
                                    color="warn"
                                    class="position-absolute end-0 bottom-0 me-3 mb-3 py-1 downloadInvoice">
                                    Download Invoice
                            </button>
                    
                        </div>

                    </div>
                </div>
            </div>

           
        </div>
        <!-- DELIVERY END     -->



         <!-- RETURN START     -->
        <div *ngIf="order.deliveryStatus === 'RETURN'">
            <div class="card-header d-flex align-items-center flex-wrap p-2">
                <div class="d-flex flex-wrap mr-4">
                    <span class="changeDesign me-3">
                        <span class="headerH">ORDER NO:</span>
                        <span>{{ order.customOrderNumber }}</span>
                    </span>
                    <span class="changeDesign me-3">
                        <span class="headerH">AMOUNT:</span>
                        <span>₹ {{order.totalPrice}}</span>
                    </span>
                    <span class="changeDesign me-3">
                        <span class="headerH">PLACED BY:</span>
                        <span>{{order.orderDateTime}}</span>
                    </span>
                    <span *ngIf="order.paymentMode === 'COD'" class="changeDesign bg-light rounded ">
                        <span class="headerH fs13">PAY MODE - </span>
                        <span class="p-1 rounded fs13 COD">{{order.paymentMode}}</span>
                    </span>

                    <span *ngIf="order.paymentMode === 'ONLINE'" class="changeDesign bg-light rounded">
                        <span class="headerH fs13">PAY MODE - </span>
                        <span class="p-1 rounded fs13 ONLINE">{{order.paymentMode}}</span>
                    </span>

                    <span class="changeDesign mx-4">
                        <span class="headerH fs13">STATUS - </span>
                        <span class="p-1 rounded fs13">{{order.deliveryStatus}}</span>
                    </span>
                </div>

                <button [routerLink]="['/customer/orders-details/', order.id]" mat-raised-button color="warn"
                    class="mx-2 py-1 moreDetails ms-auto">
                    Order Details
                </button>
            </div>

            <div [routerLink]="['/order-details', order.id]" class=" mb-3">
                <div class="card-body innerCard card mx-4 mt-3" style="border-radius: 15px;">
                    <div class="row">

                        <!-- Product Image -->
                        <div class="col-md-1">
                            <img [src]="order.fileUrl" class="order-image img-fluid" alt="Product Image">
                        </div>

                        <!-- Order Content -->
                        <div class="col-md-7">
                            <div class="order-content">

                                <!-- Product Name -->
                                <p class="mb-1 fs14">{{ order.productName }}</p>

                                <!-- Product Details -->
                                <p class="fs12 text-muted mb-2">
                                    <strong>Quantity:</strong> {{ order.quantity }} |
                                    <strong>Price:</strong> ₹{{ order.productPrice }} |
                                    <strong>Size:</strong> {{ order.productSize }}
                                </p>

                                <div class="card mt-2 p-4" style="border-radius: 7px;">
                                    <p class="fs12">
                                        Amount will be credited to customer’s bank account within 10-15 working days
                                        after the refund has processed. We will keep you updated via email or SMS.
                                    </p>

                                    <table class="custom-refund-table" *ngIf="order.paymentMode==='ONLINE'">
                                     <tbody>
                                            <tr>
                                                <td>Product Price</td>
                                                <td>₹{{ order.totalPrice }}</td>
                                            </tr>
                                            <tr>
                                                <td>Fees</td>
                                                <td>₹{{ order.razorpayFees }}</td>
                                            </tr>
                                            <tr>
                                                <td>GST</td>
                                                <td>₹{{ order.razorpayGst }}</td>
                                            </tr>
                                            <tr>
                                                <td>Total Fees</td>
                                                <td>₹{{ order.razorpayTotalFees }}</td>
                                            </tr>
                                            <tr>
                                                <td>Refund Amount</td>
                                                <td>₹{{ order.razorpayFinalAmt }}</td>
                                            </tr>
                                            <tr>
                                                <td>Pickup DT</td>
                                                <td>{{ order.customerReturnExchangeOrderDto.returnDeliveryPickUpDateTime }}</td>
                                            </tr>
                                            <tr>
                                                <td>Pickup Delivery</td>
                                                <td>{{ order.customerReturnExchangeOrderDto.returnDeliveryStatus }}</td>
                                            </tr>
                                            <tr>
                                                <td>Refund Amount</td>
                                                <td>
                                                    <span>
                                                        {{ order.customerReturnExchangeOrderDto.returnRefundStatus }}
                                                    </span>
                                                </td>
                                            </tr>
                                    </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- RETURN END     -->

         

         <!-- EXCHANGE START     -->
        <div *ngIf="order.deliveryStatus === 'EXCHANGE'">
            <div class="card-header d-flex align-items-center flex-wrap p-2">
                <div class="d-flex flex-wrap mr-4">
                    <span class="changeDesign me-3">
                        <span class="headerH">ORDER NO:</span>
                        <span>{{ order.customOrderNumber }}</span>
                    </span>
                    <span class="changeDesign me-3">
                        <span class="headerH">AMOUNT:</span>
                        <span>₹ {{order.totalPrice}}</span>
                    </span>
                    <span class="changeDesign me-3">
                        <span class="headerH">PLACED BY:</span>
                        <span>{{order.orderDateTime}}</span>
                    </span>
                    <span *ngIf="order.paymentMode === 'COD'" class="changeDesign bg-light rounded ">
                        <span class="headerH fs13">PAY MODE - </span>
                        <span class="p-1 rounded fs13 COD">{{order.paymentMode}}</span>
                    </span>

                    <span *ngIf="order.paymentMode === 'ONLINE'" class="changeDesign bg-light rounded">
                        <span class="headerH fs13">PAY MODE - </span>
                        <span class="p-1 rounded fs13 ONLINE">{{order.paymentMode}}</span>
                    </span>

                    <span class="changeDesign mx-4">
                        <span class="headerH fs13">STATUS - </span>
                        <span class="p-1 rounded fs13">{{order.deliveryStatus}}</span>
                    </span>
                </div>

                <button [routerLink]="['/customer/orders-details/', order.id]" mat-raised-button color="warn"
                    class="mx-2 py-1 moreDetails ms-auto">
                    Order Details
                </button>
            </div>

            <div [routerLink]="['/order-details', order.id]" class=" mb-3">
                <div class="card-body innerCard card mx-4 mt-3" style="border-radius: 15px;">
                    <div class="row">

                        <!-- Product Image -->
                        <div class="col-md-1">
                            <img [src]="order.fileUrl" class="order-image img-fluid" alt="Product Image">
                        </div>

                        <!-- Order Content -->
                        <div class="col-md-7">
                            <div class="order-content">

                                <!-- Product Name -->
                                <p class="mb-1 fs14">{{ order.productName }}</p>

                                <!-- Product Details -->
                                <p class="fs12 text-muted mb-2">
                                    <strong>Quantity:</strong> {{ order.quantity }} |
                                    <strong>Price:</strong> ₹{{ order.productPrice }} |
                                    <strong>Size:</strong> {{ order.productSize }}
                                </p>

                                <div class="card mt-2 p-4" style="border-radius: 7px;">

                                    <p class="fs12">Exchange Status</p>
                                    <table class="custom-refund-table">
                                        <tbody>
                                            <tr>
                                                <td>Product SIZE</td>
                                                <td>{{ order.customerReturnExchangeOrderDto.exchangeProductSize }}</td>
                                            </tr>
                                            <tr>
                                                <td>Exchange Status</td>
                                                <td>
                                                    {{ order.customerReturnExchangeOrderDto.exchangeDeliveryStatus }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Pickup Date</td>
                                                <td>
                                                    {{ order.customerReturnExchangeOrderDto.exchangeDeliveryPickUpDateTime }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- EXCHANGE END     -->
    </div>
</div>



<div class="container mt-5" *ngIf="orders && orders.length === 0">
    No Orders Found one
</div>




<!-- Modal for Order Update Delivery Status -->
<div class="modal fade" id="returnExchangeModel" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body">
                <p> <i class="bi bi-box-seam me-2"></i>Order Return Exchange</p>
                <hr>
                <p class=" mt-2 text-center fs14">Are you sure you want to Return / Exchange this order?</p>
            </div>

            <button type="button" class="btn btn-sm returnExchangeBtn" (click)="finalJudgementCancelOrder()"
                type="submit">
                Continue
            </button>
        </div>
    </div>
</div>
<!-- Model Ending for Order Update Delivery Status -->