* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white; /* Flipkart blue color */
    color: #fff;
}


.navbar-logo a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
}

.logo-text {
    font-size: 22px;
    font-weight: bold;
    color: #6b5aff;
}

.plus {
    color: #f7c00f; /* Yellow color for Plus */
}

.navbar-search {
    flex-grow: 1;
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.navbar-search input {
    width: 80%;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #ebf5fb;
    
}

.navbar-menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-item {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 5px;
}

.arrow {
    margin-left: 2px;
}

.navbar-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures it stays on top of other elements */
    background: white; /* Ensure background is visible */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
    .navbar-search {
        display: none;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #2874f0;
        border: 1px solid #ddd;
        width: 200px;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
    }
}






/* ================================= */


.cart-container {
    position: relative;
    display: inline-block;
}

.cart-link {
    display: flex;
    align-items: center;
    color: black;
    font-size: 16px;
    text-decoration: none;
    position: relative;
}

.cart-link i {
    font-size: 24px;
    margin-right: 5px;
}

.cart-count {
    position: absolute;
    top: -5px;
    left: 5px;
    background-color: #FFBF00;
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 45%;
}

.cart-link:hover i {
    color: #dfab00;
}



/* ==============================================================16-03-2024 */

.sidebar {
    height: 100vh;
    padding-top: 20px;
  }
  
  .nav-link {
    color: #333;
    padding: 10px;
  }
  
  .nav-link.active {
    background-color: #f8d7da;
    color: #d9534f;
    font-weight: bold;
  }
  

  