<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" 
  size = "small" 
  color = "#fff" 
  type = "ball-clip-rotate" 
  [fullScreen] = "true">
  <p style="color: white" > 
    Loading... </p>
</ngx-spinner>






<div id="app" *ngIf="!isLoggedIn" >

  <nav class="navbar">
    <div class="navbar-logo">
        <a href="#">
            <span class="logo-text">Shoppers</span>
            <small style="color: black;">Explore <span class="plus">Plus</span> ✨</small>
        </a>
    </div>
    <div class="navbar-search">
        <input type="text" placeholder="Search for Products, Brands and More">
    </div>
    <div class="navbar-menu">

          <!-- Cart Button with Count -->
          <div class="cart-container">
            <a href="#" routerLink="/cart" class="cart-link">
              <i class="bi bi-cart3"></i>
              <span class="cart-count" >
                {{ cartService.getCartLength() }}
              </span>
              Cart
            </a>
          </div>
          
        <!-- Cart ENDING with Count -->

        <a href="/login" class="nav-link" routerLink="login" mat-raised-button color="primary" [matMenuTriggerFor]="login">
            <i class="bi bi-box-arrow-in-right"></i> Login
        </a>
        <mat-menu #login="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>

        <a href="/register" class="nav-link" routerLink="register" mat-raised-button color="primary">
            <i class="bi bi-person-plus px-2"></i> Create Account
        </a>
        
    </div>
</nav>


  <div class="container-fluid">

    <router-outlet></router-outlet>
  </div>
</div>

<!-- ==== -->
<div id="app" *ngIf="isLoggedIn">

  <nav class="navbar">
    <div class="navbar-logo">
        <a href="#">
            <span class="logo-text">Flipkart</span>
            <small style="color: black;">Explore <span class="plus">Plus</span> ✨</small>
        </a>
    </div>
    <div class="navbar-search">
        <input type="text" placeholder="Search for Products, Brands and More">
    </div>
    <div class="navbar-menu">

      <button mat-raised-button color="primary" >
      <i class="bi bi-cart4"></i>
        cart
      </button>

      <button mat-raised-button color="primary"  (click)="logout()">
        <i class="bi bi-cart4"></i>
        logout
      </button>
    </div>
</nav>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- takes default width of 350px and top-right position   -->
<ng-toast />  
<!-- <button type="button" (click)="genToast()" >click</button>-->
