<div class="container mt-4"  *ngIf="orders as order">

    <h6>Order Details</h6>
    <div class="card p-3 shadow-sm orderDetailsCard">

        <!-- ORDER ID SECTION STARTING -->
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <p *ngIf="orders.orderId" class="mb-1 fs14">Order ID: {{ orders.orderId }}</p>

                <p *ngIf="orders.orderDateTime" class="mb-1 text-muted fs14 bg-light px-1 rounded">
                    <span>Placed on -</span> 
                    {{ orders.orderDateTime }}
                </p>
                
            </div>
        </div>
        <!-- ORDER ID SECTION ENDING -->

        <hr>

        <!-- ORDER DETAILS STARTING -->
        <div class="container mt-3">
            <div class="row ">
                <div class="col-md-8">
                    <h6> Products (1) </h6>
                     <hr>
                        
                    <div class="product-card mb-3 d-flex align-items-center border-bottom py-2">

                        <img [src]="orders?.fileUrl" class="product-img rounded" alt="Sweet Bell Pepper">


                        <div class="product-info flex-grow-1">
                            <div class="product-title fs14 mx-2">{{orders.productName}}</div>
                            <div class="product-title fs13 mx-2 mt-1">
                                <strong>₹ {{orders.productPrice}}</strong> &nbsp;
                                <span class="text-decoration-line-through">MRP: ₹{{orders.productMrp}} </span>
                            </div>

                            <div class="product-tags">

                                <span class="badge bg-light text-dark">
                                    SIZE :
                                    <span>{{orders.productSize}}</span>
                                </span>

                                <span class="badge bg-light text-dark">
                                    BRAND :
                                    <span>{{orders.productBrand}}</span>
                                </span>

                                <span class="badge bg-light text-dark">
                                    QTY :
                                    <span>{{orders.quantity}}</span>
                                </span>

                            </div>

                            <div class="product-tags mt-1 mb-1">
                                <span class="bg-light text-dark">
                                    PAYMENT MODE :
                                    <span class="bg-primary text-dark rounded-3 p-1">
                                        {{orders.paymentMode}}</span>
                                </span>
                            </div>

                            

                            <div class="product-tags">
                                <span class="bg-light text-dark">
                                    <i class="bi bi-truck running-truck mx-1"></i>
                                    DELIVERY :
                                    <span> <i class="bi bi-dot text-warning"></i> {{ orders.deliveryStatus }} </span>
                                </span>
                            </div>

                              <!-- CUSTOMER ADDRESS  STARTING -->
                                <div class="card p-2 my-1 rounded-3">
                                    <div class="product-tags">
                                        <span style="background-color: #f2f829;color: #212f3c;">
                                           DELIVERED TO
                                        </span>
                                    </div>
                                    
                                    <div class="product-tags">
                                        <span class="bg-light text-dark">
                                            NAME :
                                            <span> 
                                                {{ orders.customerName }}
                                             </span>
                                        </span>
                                    </div>
        
                                    <div class="product-tags">
                                        <span class="bg-light text-dark">
                                            <i class="bi bi-geo-alt-fill text-primary"></i>
                                            LOCATION :
                                            <span [matTooltip]="orders.area
                                                                + ', ' + orders.addressLine1 
                                                                + ', ' + orders.addressLine2 
                                                                + ', ' + orders.country"
                                                  matTooltipClass="example-tooltip-uppercase">
                                                 {{ orders.addressLine1  }}
                                                 {{ orders.addressLine2 }}
                                            </span>
                                        </span>
                                    </div>
        
                                    <div class="product-tags">
                                        <span class="bg-light text-dark">
                                            <i class="bi bi-phone-fill"></i>
                                            MOBILE :
                                            <span>
                                                 {{ orders.mobileNumber  }}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                             <!-- CUSTOMER ADDRESS  ENDING -->


                            <!-- TRACCKING ID STARTING-->
                            <div class="product-tags mt-1" *ngIf="orders.orderTrackingId">
                                <span class="bg-light text-dark">
                                    Tracker ID :
                                    <span> {{ orders.orderTrackingId }} </span>
                                    <i style="cursor: pointer;" class="bi bi-copy"
                                        (click)="copyTrackerId(orders.orderTrackingId)"></i>
                                </span>

                                <a href="https://www.delhivery.com/tracking" target="_blank" mat-raised-button
                                    color="primary" class="mx-3 py-1 trackButton">
                                    Track Order
                                </a>
                            </div>
                            <!-- TRACCKING ID ENDING-->
                        </div>

                        <div class="product-price float-end fs14 " style="margin-bottom: 33%;;" >
                            {{orders.quantity}} X ₹ {{orders.productPrice}}
                        </div>
                    </div>

                </div>


                <!-- PRICE CARD BOX STARTING -->
                <div class="col-md-4">
                    <div class="price-box">
                        <div>
                            <h6>PRICE DETAILS ( 1 ) items</h6>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <span class="pdKeys">Total MRP (Inc. of Taxes)</span>
                            <span class="pdKeys">₹{{orders.productMrp}}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="pdKeys">Shoppers Discount</span>
                            <span class="text-success pdKeys">- ₹{{orders.productDiscount}}%</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="pdKeys">Shipping Charges</span>
                            <span class="text-success pdKeys">Free</span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <span>Total</span>
                            <span class="text-success pdKeys">
                                <span class="fs15 text-dark">₹</span>
                                {{orders.quantity * orders.productPrice }}</span>
                        </div>
                    </div>
                </div>
                <!-- PRICE CARD BOX ENDING -->

            </div>
        </div>
        <!-- ORDER DETAILS ENDING -->


    </div>
</div>