<div class="container mt-4">

    <h6>Order Details</h6>
    <div class="card p-3 shadow-sm orderDetailsCard">

        <!-- ORDER ID SECTION STARTING -->
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <p *ngIf="orders?.orderId" class="mb-1 fs14">Order ID: {{ orders.orderId }}</p>

                <p *ngIf="orders?.orderDateTime" class="mb-1 text-muted fs14 bg-light px-1 rounded">
                    <span>Placed on -</span> 
                    {{ orders.orderDateTime }}
                </p>
                
                <!-- <p class="mb-1 text-muted">Esd. delivery <span>4 Days</span></p> -->
            </div>
            <!-- <button mat-raised-button class="fs14 pendingBtn">Pending</button> -->
        </div>
        <!-- ORDER ID SECTION ENDING -->

        <hr>

        <!-- ORDER DETAILS STARTING -->
        <div class="container mt-3">
            <div class="row ">
                <div class="col-md-8">
                    <h6 *ngIf="orders?.customerOrderItems" >
                        Products ({{orders.customerOrderItems.length}})
                    </h6>
                     <hr>
                        
                    <div *ngFor="let item of orders.customerOrderItems"

                        class="product-card mb-3 d-flex align-items-center border-bottom py-2">

                        <img [src]="item.fileUrl" class="product-img rounded" alt="Sweet Bell Pepper">

                        <div class="product-info flex-grow-1">
                            <div class="product-title fs14 mx-2">{{item.productName}}</div>
                            <div class="product-title fs13 mx-2 mt-1">
                                <strong>₹ {{item.productPrice}}</strong> &nbsp;
                                <span class="text-decoration-line-through">MRP: ₹{{item.productMrp}} </span>
                            </div>

                            <div class="product-tags">

                                <span class="badge bg-light text-dark">
                                    SIZE :
                                    <span>{{item.productSize}}</span>
                                </span>

                                <span class="badge bg-light text-dark">
                                    BRAND :
                                    <span>{{item.productBrand}}</span>
                                </span>

                                <span class="badge bg-light text-dark">
                                    QTY :
                                    <span>{{item.quantity}}</span>
                                </span>

                            </div>

                            <div class="product-tags">
                                <span class="bg-light text-dark">
                                    <i class="bi bi-truck running-truck mx-1"></i>
                                    DELIVERY :
                                    <span> <i class="bi bi-dot text-warning"></i> {{ item.deliveryStatus }} </span>
                                </span>
                            </div>

                              <!-- CUSTOMER ADDRESS  STARTING -->
                                <div class="card p-2 my-1">
                                    <div class="product-tags">
                                        <span style="background-color: #f2f829;color: #212f3c;">
                                           DELIVERED TO
                                        </span>
                                    </div>
                                    
                                    <div class="product-tags">
                                        <span class="bg-light text-dark">
                                            NAME :
                                            <span> 
                                                {{ item.customerName }}
                                             </span>
                                        </span>
                                    </div>
        
                                    <div class="product-tags">
                                        <span class="bg-light text-dark">
                                            <i class="bi bi-geo-alt-fill text-primary"></i>
                                            LOCATION :
                                            <span [matTooltip]="item.area
                                                                + ', ' + item.addressLine1 
                                                                + ', ' + item.addressLine2 
                                                                + ', ' + item.country"
                                                  matTooltipClass="example-tooltip-uppercase">
                                                 {{ item.addressLine1  }}
                                                 {{ item.addressLine2 }}
                                            </span>
                                        </span>
                                    </div>
        
                                    <div class="product-tags">
                                        <span class="bg-light text-dark">
                                            <i class="bi bi-phone-fill"></i>
                                            MOBILE :
                                            <span>
                                                 {{ item.mobileNumber  }}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                             <!-- CUSTOMER ADDRESS  ENDING -->


                            <!-- TRACCKING ID STARTING-->
                            <div class="product-tags mt-1" *ngIf="item.orderTrackingId">
                                <span class="bg-light text-dark">
                                    Tracker ID :
                                    <span> {{ item.orderTrackingId }} </span>
                                    <i style="cursor: pointer;" class="bi bi-copy"
                                        (click)="copyTrackerId(item.orderTrackingId)"></i>
                                </span>

                                <a href="https://www.delhivery.com/tracking" target="_blank" mat-raised-button
                                    color="primary" class="mx-3 py-1 trackButton">
                                    Track Order
                                </a>
                            </div>
                            <!-- TRACCKING ID ENDING-->
                        </div>

                        <div class="product-price float-end fs14 " style="margin-bottom: 33%;;" >
                            {{item.quantity}} X ₹ {{item.productPrice}}
                        </div>
                    </div>

                </div>


                <!-- PRICE CARD BOX STARTING -->
                <div class="col-md-4">
                    <div class="price-box">
                        <div>
                            <h6>PRICE DETAILS ( {{orders.customerOrderItems.length}} ) items</h6>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <span class="pdKeys">Total MRP (Inc. of Taxes)</span>
                            <span class="pdKeys">₹{{totalMrp}}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="pdKeys">Shoppers Discount</span>
                            <span class="text-success pdKeys">- ₹{{totalDiscount}}%</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="pdKeys">Shipping Charges</span>
                            <span class="text-success pdKeys">Free</span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <span>Total</span>
                            <span class="text-success pdKeys">₹{{orders.totalPrice}}</span>
                        </div>
                    </div>
                </div>
                <!-- PRICE CARD BOX ENDING -->

            </div>
        </div>
        <!-- ORDER DETAILS ENDING -->


    </div>
</div>