<div>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
        <ul class="navbar-nav">

            <li *ngFor="let pc of categories , let i = index" class="nav-item dropdown">
                <a class="nav-link" href="#" id="menDropdown" role="button">{{pc.parentCategoryName}}</a>
                
                <div class="dropdown-menu p-2">
                    <div class="d-flex flex-wrap">
                     
                        <div *ngFor="let bc of pc.babyCategoryDtos, let i = index" class="dropdown-column me-4 mx-3">
                            <div class="dropdown-title">{{bc.babyCategoryName}}</div>
                            
                            <a style="font-size: 13px;line-height: 1.1;" 
                            *ngFor="let bornC of bc.bornCategoryDtos, let i = index" href="#" class="dropdown-item">
                              {{bornC.bornCategoryName}}
                            </a>
                           
                        </div>
                    </div>
                </div>
            </li>
            
        </ul>
    </div>
  </nav>
</div>



<!-- Bootstrap Carousel Starting -->
 <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button *ngFor="let sliderIndex of homeSliderData; let i = index" 
            type="button" 
            data-bs-target="#carouselExampleIndicators" 
            [attr.data-bs-slide-to]="i" 
            [class.active]="i === 0"
            [attr.aria-current]="i === 0 ? 'true' : null"
            [attr.aria-label]="'Slide ' + (i + 1)">
    </button>
  </div>

  <div class="carousel-inner">
    <div *ngFor="let sliderIndex of homeSliderData; let i = index" 
         class="carousel-item" 
         [class.active]="i === 0">
      <img [src]="sliderIndex.fileUrl" class="d-block w-100 carouselStyling" [alt]="sliderIndex.title">
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> 
<!-- Bootstrap Carousel Ending -->

<!-- OWL CAROUSEL SATRTING -->
<!-- <owl-carousel-o [options]="customOptions">

  <ng-container *ngFor="let slide of homeSliderData">
    <ng-template carouselSlide [id]="slide.id">
      <img [src]="slide.fileUrl" [alt]="slide.title" [title]="slide.title" class="carouselStyling">
    </ng-template>
  </ng-container>

</owl-carousel-o> -->
  <!-- OWL CAROUSEL ENDING -->




  <!-- POPULAR CATEGORIES STARTING -->
  <div class="container-fluid mt-5">
    <div class="categoryDesign" >Shop our most popular categories</div>
    <!-- <div class="line"></div> -->
  </div>
  <div class="container-fluid mt-2 ">
    <div class="row">
      <div *ngFor="let babyData of babyDataFilter;  let i = index"  class="col-lg-2 col-md-4 col-sm-6 col-6 mb-4">
        <a  
        [routerLink]="['/Search']" [queryParams]="{ cI: babyData.id,cN:babyData.categoryName,sQNext:'NO' }" 
        href="#" class="text-decoration-none">

          <div class="card product-card-popular-category">
            <img [src]="babyData.categoryFile" 
                class="card-img-top product-img-popular-category" 
                alt="Product Image">
           
            <div class="card-body text-center mt-3 mb-1">
              <p class="categoryName">
                {{babyData.categoryName}}
              </p>
              <p class="categoryOff bg-light text-dark p-1 mt-1">
                Flat 60 to 70% OFF
              </p>
            </div>

            <div class="py-2 px-2 ">
              <button class="w-100 ShopNow" mat-stroked-button>Shop Now</button>
            </div>
            
          </div>

        </a>
      </div>
    </div>
  </div>
  <!--POPULAR  CATEGORIES ENDING -->



  <!-- Hot Deals @9999999 container First STARTING-->
<!-- <div class="container-fluid  mt-2">

  <div class="price-tag">
    {{hotDealEngine.dealName}}
  </div>

  <owl-carousel-o [options]="customOptionsHotDeals">
    <ng-container *ngFor="let data of hotDeals">
      <ng-template carouselSlide>
        <a [routerLink]="['/Search']" [queryParams]="{ cI: data.categoryId,cN:data.categoryName,sQNext:'DEAL' }"
          href="#" class="card dealCard">
          <div class="product-deal-image">
            <img [src]="data.fileUrl" [alt]="data.name">
            <div class="image-overlay">
              <p>{{ data.name }}</p>
            </div>
          </div>
          <div class="card-body dealCardBody">
            <p class="card-title font-weight-bolder text-center offerName mt-1">
              {{ data.offerName }}
            </p>
          </div>
        </a>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div> -->
  <!-- Hot Deals container First ENFING-->



<!-- Summer Sale 1 Starting -->
<!-- <div class="container d-flex justify-content-center">
  <a href="your-link-here">
      <img src="../../assets/summerSale/gloabSale.png" 
      style="height: 250px;width: 1000px; object-fit: cover; border-radius: 20px;" 
      alt="Summer Sale">
  </a>
</div> -->
<!-- Summer Sale 1 Ending -->


<!-- PRODUCT LIST STARTING -->
<div class="container">
  <div class="row">

      <div>
        <h5 >Popular Products</h5>
      </div>

      <ng-container *ngFor="let data of productsList">
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 mb-4">
              
              <a [routerLink]="['/pw']" [queryParams]="{ 
                  size:data.productFirstSize,
                  pI: data.id,
                  pN: data.productName,
                  }"
                  class="card product-card h-100">
                  
                  <div *ngIf="data?.productFilesResponses?.length" class="product-image-container">
                      <img [src]="data.productFilesResponses[0].fileUrl" alt="Product Image" class="product-image img-fluid">
                      <div class="rating-review">
                          4.4 <i class="bi bi-star-fill"></i> | 1.3k
                      </div>
                      <div class="tag">OVERSIZED FIT</div>
                  </div>

                  <div *ngIf="data?.productFilesResponses?.length" class="px-2 p-2">
                      <p class="product-title">{{ data.brandField }}</p>
                      <p class="productName mb-1">
                          {{ data?.productName | slice:0:30 }}{{ data?.productName?.length > 35 ? '...' : '' }}
                      </p>
                      <ng-container *ngIf="data.netQuantity > 0; else outOfStock">
                        <p class="price-details mb-0">
                          <span class="actualPrice">Rs.{{ data.productPrice }}</span>
                          <span class="mrpPrice mx-1">Rs.{{ data.productMrp }}</span>
                          <span class="priceOff mx-1">({{ data.calculatedDiscount }})</span>
                        </p>
                      </ng-container>
                      
                      <ng-template #outOfStock>
                        <p class="text-danger">Out of Stock</p>
                      </ng-template>
                      
                  </div>
              </a>

          </div>
      </ng-container>
  </div>
</div>
<!-- PRODUCT LIST ENDING] -->







<!-- Mens Category Card Starting -->
<div class="container mt-4">
  <div class="price-tag">Mens Category</div>

  <div class="row text-center card-container">
    <div *ngFor="let data of mensList" class="col-lg-2 col-md-4 col-sm-6 col-6 mb-4">
        <a 
        [routerLink]="['/Search']" [queryParams]="{ cI: data.id, cN: data.categoryName, sQNext: 'YES' }" 
        href="#" class="text-decoration-none">
            <div class="card cardMenAndWomen position-relative">
                <img class="card-img MW-Hover" [src]="data.categoryFile" alt="Card image">
                
                <!-- Discount Tags (Initially hidden) -->
                <div class="discount-tag tag1">70% OFF</div>
                <div class="discount-tag tag2">Limited Offer</div>
                <div class="discount-tag tag3">Best Deal</div>
                
                <div class="card-title"> 
                    <p class="text-dark mt-3 cardTitleCategory">
                        {{ data.categoryName }}
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>


</div>
<!-- Mens Category Card Ending -->


<!-- Women Category Card Starting -->
<!-- <div class="container-fluid">
  <div class="price-tag">Women Category</div>

  <div class="row">
    <div *ngFor="let data of womenList" class="col-lg-2 col-md-4 col-sm-6 col-12 mb-4">
      <a 
      [routerLink]="['/Search']" [queryParams]="{ cI: data.id,cN:data.categoryName,sQNext:'YES' }"
      href="#" class="text-decoration-none">
        <div class="card cardMenAndWomen">
          <img class="card-img MW-Hover" [src]="data.categoryFile" alt="Card image">
          <div class="card-title"> 
            <p class="text-dark mt-3 cardTitleCategory">
              {{data.categoryName}}
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div> -->
<!-- Women Category Card Ending -->






<!-- ==================================================================================================================== -->

<!-- HotDeal Container Second -->
<!-- <div class="container">
  <div class="row">
    <div class="col-md-3">
      <a href="#" class="card-link dealAnchor" >
        <div class="card text-white dealCard">
          <div class="image-container">
            <img src="../../assets/images/wear.jpg" class="zoom-image dealImg">
          </div>
          <div class="card-img-overlay text-center dealCardOverlay" 
               style="top: 50%; transform: translateY(20%);">
            <h5 class="card-title mt-4">Men Top Wear</h5>
            <p class="card-text">Upto 60% OFF</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div> -->
<!-- HotDeal Container Second -->









<div class="container my-5">
  <div class="row g-4">
      <div class="col-md-4">
          <div class="feature-box">
              <i class="bi bi-gem blue icon"></i>
              <h5><strong>Premium Craftsmanship</strong></h5>
              <p>Designed with precision, built to last.</p>
          </div>
      </div>
      <div class="col-md-4">
          <div class="feature-box">
              <i class="bi bi-truck green icon"></i>
              <h5><strong>Fast & Reliable Shipping</strong></h5>
              <p>We deliver worldwide with speed & care.</p>
          </div>
      </div>
      <div class="col-md-4">
          <div class="feature-box">
              <i class="bi bi-people red icon"></i>
              <h5><strong>Millions of Happy Customers</strong></h5>
              <p>Join our 5M+ satisfied users globally.</p>
          </div>
      </div>
  </div>
</div>
