

<div>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
        <ul class="navbar-nav">

            <li *ngFor="let pc of categories , let i = index" class="nav-item dropdown">
                <a class="nav-link" href="#" id="menDropdown" role="button">{{pc.parentCategoryName}}</a>
                
                <div class="dropdown-menu p-2">
                    <div class="d-flex flex-wrap">
                     
                        <div *ngFor="let bc of pc.babyCategoryDtos, let i = index" class="dropdown-column me-4 mx-3">
                            <div class="dropdown-title">{{bc.babyCategoryName}}</div>
                            
                            <a style="font-size: 13px;line-height: 1.1;" 
                            *ngFor="let bornC of bc.bornCategoryDtos, let i = index" href="#" class="dropdown-item">
                              {{bornC.bornCategoryName}}
                            </a>
                           
                        </div>
                    </div>
                </div>
            </li>
            
        </ul>
    </div>
  </nav>
</div>



<!-- Bootstrap Carousel Starting -->
<!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button *ngFor="let sliderIndex of homeSliderData; let i = index" 
            type="button" 
            data-bs-target="#carouselExampleIndicators" 
            [attr.data-bs-slide-to]="i" 
            [class.active]="i === 0"
            [attr.aria-current]="i === 0 ? 'true' : null"
            [attr.aria-label]="'Slide ' + (i + 1)">
    </button>
  </div>

  <div class="carousel-inner">
    <div *ngFor="let sliderIndex of homeSliderData; let i = index" 
         class="carousel-item" 
         [class.active]="i === 0">
      <img [src]="sliderIndex.fileUrl" class="d-block w-100 carouselStyling" [alt]="sliderIndex.title">
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->
<!-- Bootstrap Carousel Ending -->



<!-- OWL CAROUSEL SATRTING -->
<owl-carousel-o [options]="customOptions">

  <ng-container *ngFor="let slide of homeSliderData">
    <ng-template carouselSlide [id]="slide.id">
      <img [src]="slide.fileUrl" [alt]="slide.title" [title]="slide.title" class="carouselStyling">
    </ng-template>
  </ng-container>

</owl-carousel-o>
  <!-- OWL CAROUSEL ENDING -->




  <!-- CATEGORIES STARTING -->
  <div class="container">
    <div class="categoryDesign prosto-one-regular" >Category</div>
    <div class="line"></div>
  </div>

  <div class="container-fluid mt-2">
    <div class="row">
      <div *ngFor="let babyData of babyDataFilter;  let i = index"  class="col-lg-2 col-md-4 col-sm-6 col-12 mb-4">
        <a href="product-detail-page.html" class="text-decoration-none">
          <div class="card product-card">

            <img [src]="babyData.categoryFile" 
            class="card-img-top product-img" 
            alt="Product Image">
           
            <div class="card-body text-center mt-3 mb-2">
              <p class="categoryName">
                {{babyData.categoryName}}
              </p>
              <p class="categoryOff bg-light text-dark p-2 mt-1">
                Flat 60 to 70% OFF
              </p>
              <p class="shopNow shopNowDesign mt-1 mb-2">
                Shop Now
              </p>

            </div>

          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- CATEGORIES ENDING -->


  <!-- Hot Deals container First STARTING-->
<div class="container-fluid text-center mt-2">

  <div class="price-tag">
   {{hotDealEngine.dealName}}
  </div>

  <owl-carousel-o [options]="customOptionsHotDeals">
    <ng-container *ngFor="let hDeals of hotDeals">
      <ng-template carouselSlide>
        <a href="#" class="card dealCard">
          <div class="product-image">
            <img [src]="hDeals.fileUrl" [alt]="hDeals.name">
            <div class="image-overlay">
              <p>{{ hDeals.name }}</p>
            </div>
          </div>
          <div class="card-body dealCardBody">
            <p class="card-title font-weight-bolder text-center offerName">
              {{ hDeals.offerName }}
          </p>
          </div>
        </a>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
  <!-- Hot Deals container First ENFING-->



<!-- Summer Sale 1 Starting -->
<div class="container d-flex justify-content-center">
  <a href="your-link-here">
      <img src="../../assets/summerSale/summerSale1.jpg" 
      style="height: 350px; object-fit: cover; border-radius: 20px;" 
      alt="Summer Sale">
  </a>
</div>
<!-- Summer Sale 1 Ending -->


<!-- Mens Category Card Starting -->
<div class="container mt-4">
  <div class="price-tag">Mens Category</div>

  <div class="row">
    <div *ngFor="let data of mensList" class="col-lg-2 col-md-4 col-sm-6 col-12 mb-4">
      <a href="#" class="text-decoration-none">
        <div class="card cardMenAndWomen">
          <img class="card-img MW-Hover" [src]="data.categoryFile" alt="Card image">
          <div class="card-title"> 
            <p class="text-dark mt-3 cardTitleCategory">
              {{data.categoryName}}
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- Mens Category Card Ending -->


<!-- Summer Sale 2 Starting -->
<div class="container d-flex justify-content-center">
  <a href="your-link-here">
      <img src="../../assets/summerSale/summerSale3.png" 
      style="height: 350px; object-fit: cover; border-radius: 20px;" 
      alt="Summer Sale">
  </a>
</div>
<!-- Summer Sale 2 Ending -->


<!-- Women Category Card Starting -->
<div class="container">
  <div class="price-tag">Women Category</div>

  <div class="row">
    <div *ngFor="let data of womenList" class="col-lg-2 col-md-4 col-sm-6 col-12 mb-4">
      <a href="#" class="text-decoration-none">
        <div class="card cardMenAndWomen">
          <img class="card-img MW-Hover" [src]="data.categoryFile" alt="Card image">
          <div class="card-title"> 
            <p class="text-dark mt-3 cardTitleCategory">
              {{data.categoryName}}
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- Women Category Card Ending -->






<!-- ==================================================================================================================== -->

<!-- HotDeal Container Second -->
<!-- <div class="container">
  <div class="row">
    <div class="col-md-3">
      <a href="#" class="card-link dealAnchor" >
        <div class="card text-white dealCard">
          <div class="image-container">
            <img src="../../assets/images/wear.jpg" class="zoom-image dealImg">
          </div>
          <div class="card-img-overlay text-center dealCardOverlay" 
               style="top: 50%; transform: translateY(20%);">
            <h5 class="card-title mt-4">Men Top Wear</h5>
            <p class="card-text">Upto 60% OFF</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div> -->
<!-- HotDeal Container Second -->