<div>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="menDropdown" role="button">MEN</a>
                <div class="dropdown-menu p-4">
                    <div class="d-flex">
                        <div class="dropdown-column me-4">
                            <div class="dropdown-title">Topwear</div>
                            <a href="#" class="dropdown-item">T-Shirts</a>
                            <a href="#" class="dropdown-item">Casual Shirts</a>
                            <a href="#" class="dropdown-item">Formal Shirts</a>
                            <a href="#" class="dropdown-item">Sweatshirts</a>
                        </div>
                        <div class="dropdown-column me-4">
                            <div class="dropdown-title">Bottomwear</div>
                            <a href="#" class="dropdown-item">Jeans</a>
                            <a href="#" class="dropdown-item">Casual Trousers</a>
                            <a href="#" class="dropdown-item">Shorts</a>
                        </div>
                        <div class="dropdown-column me-4">
                            <div class="dropdown-title">Footwear</div>
                            <a href="#" class="dropdown-item">Casual Shoes</a>
                            <a href="#" class="dropdown-item">Sneakers</a>
                            <a href="#" class="dropdown-item">Flip Flops</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="womenDropdown" role="button">WOMEN</a>
                <div class="dropdown-menu p-4">
                    <div class="d-flex">
                        <div class="dropdown-column me-4">
                            <div class="dropdown-title">Ethnic Wear</div>
                            <a href="#" class="dropdown-item">Kurtas & Suits</a>
                            <a href="#" class="dropdown-item">Sarees</a>
                            <a href="#" class="dropdown-item">Lehenga Choli</a>
                            <a href="#" class="dropdown-item">Dupattas</a>
                        </div>
                        <div class="dropdown-column me-4">
                            <div class="dropdown-title">Western Wear</div>
                            <a href="#" class="dropdown-item">Tops</a>
                            <a href="#" class="dropdown-item">Jeans</a>
                            <a href="#" class="dropdown-item">Dresses</a>
                        </div>
                        <div class="dropdown-column me-4">
                            <div class="dropdown-title">Footwear</div>
                            <a href="#" class="dropdown-item">Flats</a>
                            <a href="#" class="dropdown-item">Heels</a>
                            <a href="#" class="dropdown-item">Sneakers</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
</div>