<div class="col-md-12" *ngIf="registerForm">
    <div class="card card-container">

      <h4 class="text-center">
        Sign Up </h4>

      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmitFreshUser()"
        #f="ngForm"
        novalidate
      >

      <div class="col-md-12">
        <label for="validationDefaultUsername" class="form-label">Enter Mobile Number</label>
        <div class="input-group">
          <span class="input-group-text" id="inputGroupPrepend2">+91</span>
          <input
          type="tel"
          class="form-control"
          name="mobile"
          required="required"
          [(ngModel)]="FreshUserform.mobile"
          #mobile="ngModel"
          pattern="^\d{10}$"
          [class.dirty]="mobile.dirty" 
          [class.touched]="mobile.touched"
          [ngClass]="{ 'is-invalid': mobile.errors && (mobile.touched || mobile.dirty ) }"
        />  

        <div 
            *ngIf="mobile.errors && (mobile.touched || mobile.dirty )" 
            class="invalid-feedback">

            <div *ngIf="mobile.errors['required']">
              Mobile number is required.
            </div>
            <div *ngIf="mobile.errors['pattern']">
              Mobile number must be a 10-digit number.
            </div>
          </div>

        </div>
      </div>

        <div class="form-group d-grid gap-2 col-12 mx-auto mt-4">
          <button class="btn btn-primary btn-sm btn-block" [disabled]="f.invalid">
            <i class="bi bi-person-plus-fill"></i>
            Sign Up
          </button>
        </div>
        <div class="form-group d-grid gap-2 col-12 mx-auto mt-4">
        <button  routerLink="/login" mat-raised-button color="primary">Click here To Login</button>
        </div>
  
      </form>
    </div>
  </div>
  




  <!-- OTP VERIFY FORM START -->
  <div class="card mobileOtpCard" *ngIf="mobileOtpForm">
    <div class="card-body">
  
      <form #userlogin = "ngForm" (ngSubmit)="verifyMobileOtp()" novalidate>

      <label 
        for="inputPassword5" 
        class="form-label">
        Enter OTP
      </label>
        <div>

          <div class="form-group">
              <input 
                  type="text" 
                  id="inputPassword5"  
                  class="form-control" 
                  aria-describedby="Mobile OTP" 
                  name="mobileOtp"
                  [(ngModel)]="verifyOtpForm.mobileOtp"
                  required 
                  #mobileOtp="ngModel"
                  pattern="^\d{6}$"
                  [class.dirty]="mobileOtp.dirty" 
                  [class.touched]="mobileOtp.touched"
                  [ngClass]="{ 'is-invalid': mobileOtp.errors && (mobileOtp.touched || mobileOtp.dirty ) }"
                  >

                  <div 
                  *ngIf="mobileOtp.errors && (mobileOtp.touched || mobileOtp.dirty )" 
                  class="invalid-feedback">
      
                  <div *ngIf="mobileOtp.errors['required']">
                    Mobile number is required.
                  </div>
                  <div *ngIf="mobileOtp.errors['pattern']">
                    Mobile number must be a 10-digit number.
                  </div>
                </div>

        </div>

      </div>
  
      <div id="mobileOtp" class="form-text">
        OTPs are generated randomly and are often sent to a user's
        mobile phone or email address in order to authenticate their identity.
      </div>
  
      <div class="form-group d-grid gap-2 col-12 mx-auto mt-4">
        <button  class="btn btn-success btn-sm btn-block" [disabled]="userlogin.invalid">Verify OTP </button>
      </div>
    </form>
  
    </div>
  </div>

    <!-- OTP VERIFY FORM ENDING -->


    

    