<div class="col-md-12" *ngIf="registerForm">
    <div class="card card-container">

      <h4 class="text-center">Sign Up </h4>

      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmitFreshUser()"
        #f="ngForm"
        novalidate
      >

      <div class="col-md-12">
        <label for="validationDefaultUsername" class="form-label">Enter Mobile Number</label>
        <div class="input-group">
          <span class="input-group-text" id="inputGroupPrepend2">+91</span>
          <input
          type="tel"
          class="form-control"
          name="mobile"
          required="required"
          [(ngModel)]="FreshUserform.mobile"
          #mobile="ngModel"
          required
        />  
        </div>
      </div>

        <div class="form-group d-grid gap-2 col-12 mx-auto mt-4">
          <button class="btn btn-primary btn-sm btn-block">Sign Up</button>
        </div>
  
      </form>
    </div>
  </div>
  




  <!-- OTP VERIFY FORM START -->
  <div class="card mobileOtpCard" *ngIf="mobileOtpForm">
    <div class="card-body">
  
      <form #userlogin = "ngForm" (ngSubmit)="verifyMobileOtp()" novalidate>
      <label for="inputPassword5" class="form-label">Enter OTP</label>
        <div>
      <input type="text" id="inputPassword5"  class="form-control" aria-describedby="Mobile OTP" name="mobileOtp"
        [(ngModel)]="verifyOtpForm.mobileOtp">
      </div>
  
      <div id="mobileOtp" class="form-text">
        OTPs are generated randomly and are often sent to a user's
        mobile phone or email address in order to authenticate their identity.
      </div>
  
      <div class="form-group d-grid gap-2 col-12 mx-auto mt-4">
        <button  class="btn btn-success btn-sm btn-block">Verify</button>
      </div>
    </form>
  
    </div>
  </div>

    <!-- OTP VERIFY FORM ENDING -->


    

    